.item {
    background-color: hsl(0, 0%, 100%);
}

#container {
    height: 500px;
    width: 500px;
    border-radius: 1px;
    display: grid;
    background-color: black;
    border-style: solid;
    border-color: red;
}